.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  gap: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

input,
select {
  width: 300px;
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid #323f4b;
  outline: none;
}

button {
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  color: white;
  background-color: #323f4b;
}
